system/system/euclid/my_stock.img
system/system/euclid/my_product.img
system/system/system_ext/apex/com.android.vndk.v30.apex
vendor/euclid/odm.img
modem.img
reserve/reserve/my_bigball.img
reserve/reserve/my_heytap.img
