vendor/euclid/odm.img
system/system/system_ext/priv-app/SystemUI/SystemUI.apk
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/apex/com.android.vndk.current.apex
system/system/euclid/my_region.img
system/system/euclid/my_heytap.img
system/system/euclid/my_stock.img
system/system/euclid/my_product.img
modem.img
